nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: white;
}
ul {
  display: flex;
  gap: 20px;
}
li a {
  text-decoration: none;
  color: black;
}
.active{
    color: #4098F9;
}
